In [1]:
from src import TARS, CryptoTrader, CryptoMarket, CryptoPortfolio, VirtualPortfolio

# Tests

## Create TARS

In [2]:
root = '../'
api_key = f'{root}kraken.key'
tars = TARS()

### Check market functions

In [3]:
market = CryptoMarket()

In [4]:
market.get_asset_info().head()

         aclass altname decimals display_decimals
AAVE   currency    AAVE       10                5
ADA    currency     ADA        8                6
ADA.S  currency   ADA.S        8                6
ALGO   currency    ALGO        8                5
ANKR   currency    ANKR       10                5

In [5]:
market.get_ohlc_data('ETHCHF')[0].head()

public call frequency exceeded (seconds=0.584825)
 sleeping for 5 seconds

,time,open,high,low,close,vwap,volume,count
dtime,,,,,,,,
2021-07-21 22:44:00,1626907440,1811.52,1811.52,1811.52,1811.52,0.0,0.0,0
2021-07-21 22:43:00,1626907380,1811.52,1811.52,1811.52,1811.52,0.0,0.0,0
2021-07-21 22:42:00,1626907320,1811.52,1811.52,1811.52,1811.52,0.0,0.0,0
2021-07-21 22:41:00,1626907260,1811.52,1811.52,1811.52,1811.52,0.0,0.0,0
2021-07-21 22:40:00,1626907200,1811.52,1811.52,1811.52,1811.52,0.0,0.0,0

In [6]:
market.get_order_book('XETHZUSD', count=5)[0]

public call frequency exceeded (seconds=0.419005)
 sleeping for 5 seconds

                          price volume        time
dtime
2021-07-21 22:45:00  1969.11000  0.002  1626907500
2021-07-21 22:44:58  1969.99000  0.075  1626907498
2021-07-21 22:44:47  1970.00000  6.777  1626907487
2021-07-21 22:44:30  1969.40000  0.118  1626907470
2021-07-21 22:40:22  1970.11000  0.014  1626907222

In [7]:
market.get_recent_spread_data('XETHZUSD')[0].head()

public call frequency exceeded (seconds=0.27635)
 sleeping for 5 seconds

                           time      bid      ask  spread
dtime
2021-07-21 21:51:02  1626904262  1952.67  1952.87    0.20
2021-07-21 21:51:02  1626904262  1952.67  1953.03    0.36
2021-07-21 21:51:02  1626904262  1952.67  1953.04    0.37
2021-07-21 21:51:02  1626904262  1952.67  1953.05    0.38
2021-07-21 21:51:01  1626904261  1952.67  1953.06    0.39

In [8]:
market.get_recent_trades('XETHZUSD')[0].head()

public call frequency exceeded (seconds=0.534791)
 sleeping for 5 seconds

,price,volume,time,buy_sell,market_limit,misc
dtime,,,,,,
2021-07-21 21:51:01.979200000,1952.67,2.490000,1.626904e+09,sell,market,
2021-07-21 21:51:01.978200064,1952.68,0.510000,1.626904e+09,sell,market,
2021-07-21 21:50:19.552700160,1952.29,0.000001,1.626904e+09,sell,limit,
2021-07-21 21:50:19.551700224,1952.29,0.000419,1.626904e+09,sell,limit,
2021-07-21 21:50:19.550499840,1952.29,0.161605,1.626904e+09,sell,limit,

In [9]:
market.get_ticker_information('XETHZUSD')

public call frequency exceeded (seconds=0.557382)
 sleeping for 5 seconds

,a,b,c,h,l,o,p,t,v
XETHZUSD,"[1952.86000, 1, 1.000]","[1952.55000, 8, 8.000]","[1952.67000, 2.49000000]","[2031.99000, 2128.54000]","[1755.03000, 1755.03000]",1785.35000,"[1920.93754, 1916.22650]","[33720, 35440]","[75479.36934481, 78049.88721852]"

In [10]:
market.get_tradable_asset_pairs(info='fees', pair='ETHUSD')

public call frequency exceeded (seconds=0.487905)
 sleeping for 5 seconds

,fee_volume_currency,fees,fees_maker
XETHZUSD,ZUSD,"[[0, 0.26], [50000, 0.24], [100000, 0.22], [25...","[[0, 0.16], [50000, 0.14], [100000, 0.12], [25..."

### Check portfolio functions

In [19]:
# For crypto
portfolio = CryptoPortfolio(api_key)

In [20]:
portfolio.get_account_balance()

                vol
ZUSD   1.000000e-04
CHF    0.000000e+00
XXBT   2.680000e-07
XXRP   0.000000e+00
XXDG   0.000000e+00
XETH   1.038816e-02
XXMR   0.000000e+00
ADA    1.200841e+01
QTUM   0.000000e+00
FLOW   2.000000e-08
GRT    0.000000e+00
OCEAN  0.000000e+00
MINA   5.873000e+00

In [21]:
portfolio.get_trade_balance()

        CHF
eb  37.2691
tb  18.8966
m    0.0000
n    0.0000
c    0.0000
v    0.0000
e   18.8966
mf  18.8966

In [30]:
virtual_portfolio = VirtualPortfolio({'CHF':100})

In [31]:
virtual_portfolio.get_account_balance()

     vol
CHF  100

In [32]:
virtual_portfolio.add_asset('CHF', 20)
virtual_portfolio.add_asset('AUS', 30)
virtual_portfolio.get_account_balance()

     vol
CHF  120
AUS   30

### Check trader functions

In [16]:
trader = CryptoTrader(api_key)

WARNING:root:Live mode : on

In [17]:
trader.get_open_orders()

Empty DataFrame
Columns: []
Index: []

In [18]:
trader.get_closed_orders()[0].head()

,refid,userref,status,reason,opentm,closetm,starttm,expiretm,vol,vol_exec,...,oflags,trades,descr_pair,descr_type,descr_ordertype,descr_price,descr_price2,descr_leverage,descr_order,descr_close
O667HS-EHA5E-Y4XAF6,None,0,canceled,Out of funds,1623537348,1623537348,0,0,12.030000,12.008407,...,fciq,[THXHTO-FDKTU-NGQT4A],ADAUSD,buy,market,0.0,0.0,none,buy 12.03000000 ADAUSD @ market,
OENSOG-KWUJX-VJAN64,None,0,closed,None,1622603453,1622603453,0,0,5.873000,5.873000,...,fciq,[TGISYB-P4HPS-GPKEJ3],MINAUSD,buy,market,0.0,0.0,none,buy 5.87300000 MINAUSD @ market,
OVBZ4F-UKIVH-SEFTUK,None,0,closed,None,1620994977,1621074636,0,0,71.837347,71.837347,...,fciq,[T3BSVG-VQD6Y-QSPCSK],XDGUSD,sell,stop-loss,0.5,0.0,none,sell 71.83734696 XDGUSD @ stop loss 0.5000000,
OYKRZA-BWEVV-EURJKQ,None,0,canceled,Out of funds,1620994810,1620994810,0,0,71.900000,71.837357,...,fciq,[T4C7BX-MF7Y2-BGDQ7I],XDGUSD,buy,market,0.0,0.0,none,buy 71.90000000 XDGUSD @ market,
OFJBSS-ZM7GS-O4QWXX,None,0,closed,None,1620994745,1620994745,0,0,21.040000,21.040000,...,fciq,[TVKBPV-7JMG6-RAEHGG],ADAUSD,sell,market,0.0,0.0,none,sell 21.04000000 ADAUSD @ market,

In [19]:
trader.get_trades_history()[0].head()

,txid,ordertxid,postxid,pair,time,type,ordertype,price,cost,fee,vol,margin,misc
dtime,,,,,,,,,,,,,
2021-06-12 22:35:48.012799978,THXHTO-FDKTU-NGQT4A,O667HS-EHA5E-Y4XAF6,TKH2SE-M7IF5-CFI7LT,ADAUSD,1.623537e+09,buy,market,1.479045,17.760974,0.046179,12.008407,0.0,
2021-06-02 03:10:53.894099951,TGISYB-P4HPS-GPKEJ3,OENSOG-KWUJX-VJAN64,TKH2SE-M7IF5-CFI7LT,MINAUSD,1.622603e+09,buy,market,3.060000,17.971380,0.046730,5.873000,0.0,
2021-05-15 10:30:36.510400057,T3BSVG-VQD6Y-QSPCSK,OVBZ4F-UKIVH-SEFTUK,TKH2SE-M7IF5-CFI7LT,XDGUSD,1.621075e+09,sell,stop market,0.500000,35.918673,0.093389,71.837347,0.0,
2021-05-14 12:20:10.592700005,T4C7BX-MF7Y2-BGDQ7I,OYKRZA-BWEVV-EURJKQ,TKH2SE-M7IF5-CFI7LT,XDGUSD,1.620995e+09,buy,market,0.543457,39.040500,0.101505,71.837357,0.0,
2021-05-14 12:19:05.484100103,TVKBPV-7JMG6-RAEHGG,OFJBSS-ZM7GS-O4QWXX,TKH2SE-M7IF5-CFI7LT,ADAUSD,1.620995e+09,sell,market,1.862000,39.176480,0.101859,21.040000,0.0,

In [20]:
trader.query_trades_info('THXHTO-FDKTU-NGQT4A')

,txid,cost,fee,margin,misc,ordertxid,ordertype,pair,postxid,price,time,type,vol
dtime,,,,,,,,,,,,,
2021-06-12 22:35:48.012799978,THXHTO-FDKTU-NGQT4A,17.760974,0.046179,0.0,,O667HS-EHA5E-Y4XAF6,market,ADAUSD,TKH2SE-M7IF5-CFI7LT,1.479045,1.623537e+09,buy,12.008407