In [38]:
from src import TARS, CryptoTrader, CryptoMarket, CryptoPortfolio, VirtualPortfolio, VirtualCryptoTrader

# Function Tests

## Create TARS

In [39]:
root = '../'
api_key = f'{root}kraken.key'
tars = TARS()

---

## Market Functions

In [40]:
# Create instance
market = CryptoMarket()

In [33]:
# Get asset informations
market.get_asset_info().head()

         aclass altname decimals display_decimals
AAVE   currency    AAVE       10                5
ADA    currency     ADA        8                6
ADA.S  currency   ADA.S        8                6
ALGO   currency    ALGO        8                5
ANKR   currency    ANKR       10                5

In [34]:
# Get OHLC Data
market.get_ohlc_data('ETHCHF')[0].head()

,time,open,high,low,close,vwap,volume,count
dtime,,,,,,,,
2021-07-25 23:00:00,1627254000,1987.0,1987.0,1987.0,1987.0,0.0,0.0,0
2021-07-25 22:59:00,1627253940,1987.0,1987.0,1987.0,1987.0,0.0,0.0,0
2021-07-25 22:58:00,1627253880,1987.0,1987.0,1987.0,1987.0,0.0,0.0,0
2021-07-25 22:57:00,1627253820,1987.0,1987.0,1987.0,1987.0,0.0,0.0,0
2021-07-25 22:56:00,1627253760,1987.0,1987.0,1987.0,1987.0,0.0,0.0,0

In [35]:
# Get main order book 
market.get_order_book('XETHZUSD', count=5)[0]

                          price volume        time
dtime
2021-07-25 23:00:18  2164.97000  0.294  1627254018
2021-07-25 23:00:18  2164.98000  0.240  1627254018
2021-07-25 22:59:55  2165.26000  0.011  1627253995
2021-07-25 22:59:25  2165.41000  0.006  1627253965
2021-07-25 22:58:52  2165.07000  0.006  1627253932

In [37]:
# Get recent spread of the datam 
market.get_recent_spread_data('XETHZUSD')[0].head()

                           time      bid      ask  spread
dtime
2021-07-25 23:00:38  1627254038  2165.05  2165.06    0.01
2021-07-25 23:00:38  1627254038  2164.97  2165.06    0.09
2021-07-25 23:00:38  1627254038  2164.96  2165.06    0.10
2021-07-25 23:00:38  1627254038  2164.96  2164.98    0.02
2021-07-25 23:00:13  1627254013  2164.77  2164.97    0.20

In [38]:
# Get recent trades
market.get_recent_trades('XETHZUSD')[0].head()

,price,volume,time,buy_sell,market_limit,misc
dtime,,,,,,
2021-07-25 23:00:50.264199936,2165.07,0.190000,1.627254e+09,buy,limit,
2021-07-25 23:00:50.262900224,2165.07,0.005744,1.627254e+09,buy,limit,
2021-07-25 23:00:50.261400064,2165.06,0.133000,1.627254e+09,buy,limit,
2021-07-25 23:00:50.107099904,2165.06,0.057000,1.627254e+09,buy,limit,
2021-07-25 23:00:42.212000000,2165.05,1.996008,1.627254e+09,sell,limit,

In [39]:
# Get the ticker information
market.get_ticker_information('XETHZUSD')

,a,b,c,h,l,o,p,t,v
XETHZUSD,"[2166.46000, 1, 1.000]","[2166.09000, 7, 7.000]","[2166.46000, 6.09681103]","[2195.53000, 2195.53000]","[2108.07000, 2108.07000]",2187.00000,"[2153.35344, 2155.44540]","[16467, 17440]","[21540.89511885, 23379.36400714]"

---

## Portfolio Functions

### Cryptocurrencies Portfolio

In [40]:
# Creat instance
portfolio = CryptoPortfolio(api_key)

In [41]:
# Get the balance of the account
portfolio.get_account_balance().head()

               vol
ZUSD  1.000000e-04
CHF   0.000000e+00
XXBT  2.680000e-07
XXRP  0.000000e+00
XXDG  0.000000e+00

In [42]:
# Get our trades balances!
portfolio.get_trade_balance().head()

        CHF
eb  41.3522
tb  20.6832
m    0.0000
n    0.0000
c    0.0000

### Virtual Portfolio

In [3]:
# Create instance with initial deposit
virtual_portfolio = VirtualPortfolio({'CHF':100})

In [4]:
# Get the balance of the account
virtual_portfolio.get_account_balance()

     vol
CHF  100

In [5]:
# Make some deposit
virtual_portfolio.deposit('CHF', 20)
virtual_portfolio.deposit('AUS', 30)
virtual_portfolio.get_account_balance()

     vol
CHF  120
AUS   30

In [6]:
# withdraw all available funds from a given currency
virtual_portfolio.withdraw('CHF', 120)
virtual_portfolio.get_account_balance()

     vol
AUS   30

In [7]:
# withdraw more funds than available
virtual_portfolio.withdraw('AUS', 3000)

ERROR:root:The amount to remove from the portfolio exceeds its content.

In [10]:
# withdraw an absent currency
virtual_portfolio.withdraw('BTC', 100)

ERROR:root:The key BTC isn't in the portfolio

---
## Trader functions

### Cryptocurrencies Trader

In [13]:
# Create the new instane
trader = CryptoTrader(api_key)

In [14]:
# Get all open orders
trader.get_open_orders()

Empty DataFrame
Columns: []
Index: []

In [15]:
# Get all closed orders
trader.get_closed_orders()[0].head()

,refid,userref,status,reason,opentm,closetm,starttm,expiretm,vol,vol_exec,...,oflags,trades,descr_pair,descr_type,descr_ordertype,descr_price,descr_price2,descr_leverage,descr_order,descr_close
O667HS-EHA5E-Y4XAF6,None,0,canceled,Out of funds,1623537348,1623537348,0,0,12.030000,12.008407,...,fciq,[THXHTO-FDKTU-NGQT4A],ADAUSD,buy,market,0.0,0.0,none,buy 12.03000000 ADAUSD @ market,
OENSOG-KWUJX-VJAN64,None,0,closed,None,1622603453,1622603453,0,0,5.873000,5.873000,...,fciq,[TGISYB-P4HPS-GPKEJ3],MINAUSD,buy,market,0.0,0.0,none,buy 5.87300000 MINAUSD @ market,
OVBZ4F-UKIVH-SEFTUK,None,0,closed,None,1620994977,1621074636,0,0,71.837347,71.837347,...,fciq,[T3BSVG-VQD6Y-QSPCSK],XDGUSD,sell,stop-loss,0.5,0.0,none,sell 71.83734696 XDGUSD @ stop loss 0.5000000,
OYKRZA-BWEVV-EURJKQ,None,0,canceled,Out of funds,1620994810,1620994810,0,0,71.900000,71.837357,...,fciq,[T4C7BX-MF7Y2-BGDQ7I],XDGUSD,buy,market,0.0,0.0,none,buy 71.90000000 XDGUSD @ market,
OFJBSS-ZM7GS-O4QWXX,None,0,closed,None,1620994745,1620994745,0,0,21.040000,21.040000,...,fciq,[TVKBPV-7JMG6-RAEHGG],ADAUSD,sell,market,0.0,0.0,none,sell 21.04000000 ADAUSD @ market,

In [16]:
# Get history of all trades
trader.get_trades_history()[0].head(10)

,txid,ordertxid,postxid,pair,time,type,ordertype,price,cost,fee,vol,margin,misc
dtime,,,,,,,,,,,,,
2021-06-12 22:35:48.012799978,THXHTO-FDKTU-NGQT4A,O667HS-EHA5E-Y4XAF6,TKH2SE-M7IF5-CFI7LT,ADAUSD,1.623537e+09,buy,market,1.479045,17.760974,0.046179,12.008407,0.0,
2021-06-02 03:10:53.894099951,TGISYB-P4HPS-GPKEJ3,OENSOG-KWUJX-VJAN64,TKH2SE-M7IF5-CFI7LT,MINAUSD,1.622603e+09,buy,market,3.060000,17.971380,0.046730,5.873000,0.0,
2021-05-15 10:30:36.510400057,T3BSVG-VQD6Y-QSPCSK,OVBZ4F-UKIVH-SEFTUK,TKH2SE-M7IF5-CFI7LT,XDGUSD,1.621075e+09,sell,stop market,0.500000,35.918673,0.093389,71.837347,0.0,
2021-05-14 12:20:10.592700005,T4C7BX-MF7Y2-BGDQ7I,OYKRZA-BWEVV-EURJKQ,TKH2SE-M7IF5-CFI7LT,XDGUSD,1.620995e+09,buy,market,0.543457,39.040500,0.101505,71.837357,0.0,
2021-05-14 12:19:05.484100103,TVKBPV-7JMG6-RAEHGG,OFJBSS-ZM7GS-O4QWXX,TKH2SE-M7IF5-CFI7LT,ADAUSD,1.620995e+09,sell,market,1.862000,39.176480,0.101859,21.040000,0.0,
2021-05-13 18:22:50.241100073,T33WQ3-RYSXP-5HUJQN,OC43AK-KHZMJ-QK4KPK,TKH2SE-M7IF5-CFI7LT,ADAUSD,1.620930e+09,buy,market,1.898491,39.944251,0.103855,21.040000,0.0,
2021-05-12 16:46:04.486999989,TIMTBN-W7VXX-K2D3ME,O7XCIE-ZQ6MO-7ELM4R,TKH2SE-M7IF5-CFI7LT,XDGUSD,1.620838e+09,sell,stop market,0.450000,40.220187,0.104572,89.378194,0.0,
2021-05-12 12:04:25.677000046,TDG2QA-4FFWG-XR3IHF,O5O2LX-KRJRA-JH4P5B,TKH2SE-M7IF5-CFI7LT,XETHZUSD,1.620821e+09,buy,market,4264.040000,44.295500,0.115170,0.010388,0.0,
2021-05-12 10:36:20.847800016,TWTJ6V-F6RFS-FS43UR,OZHSZS-JWMKO-SZMQTD,TKH2SE-M7IF5-CFI7LT,XETHZUSD,1.620816e+09,sell,stop market,4250.000720,44.526450,0.115770,0.010477,0.0,
2021-05-11 20:40:31.088700056,TE35Y2-7PLF4-3IVMUQ,OGE2W5-BRXCX-UMCXSC,TKH2SE-M7IF5-CFI7LT,XETHZUSD,1.620766e+09,buy,market,4119.290000,43.157000,0.112210,0.010477,0.0,

In [18]:
# Get informations about a single trade
trader.query_trades_info('THXHTO-FDKTU-NGQT4A')

,txid,cost,fee,margin,misc,ordertxid,ordertype,pair,postxid,price,time,type,vol
dtime,,,,,,,,,,,,,
2021-06-12 22:35:48.012799978,THXHTO-FDKTU-NGQT4A,17.760974,0.046179,0.0,,O667HS-EHA5E-Y4XAF6,market,ADAUSD,TKH2SE-M7IF5-CFI7LT,1.479045,1.623537e+09,buy,12.008407

### Virtual Trader

In [25]:
# Create the instace with a portfolio
virtual_portfolio = VirtualPortfolio({'ZUSD': 1000})
fake_trader = VirtualCryptoTrader(virtual_portfolio)

In [26]:
# Add an order
fake_trader.add_order('XETHZUSD', 'buy', 0.2)

public call frequency exceeded (seconds=0.314651)
 sleeping for 5 seconds
public call frequency exceeded (seconds=0.424397)
 sleeping for 5 seconds

VirtualOrder(pair='XETHZUSD', type='buy', amount=0.2, close=2171.2)

In [27]:
# Add a second order
fake_trader.add_order('XETHZUSD', 'buy', 0.1)

public call frequency exceeded (seconds=0.503107)
 sleeping for 5 seconds
public call frequency exceeded (seconds=0.429177)
 sleeping for 5 seconds

VirtualOrder(pair='XETHZUSD', type='buy', amount=0.1, close=2170.0)

In [28]:
# Check portfolio
fake_trader.portfolio.get_account_balance()

         vol
ZUSD  348.76
XETH    0.30

In [31]:
# Read the book of all orders
fake_trader.order_book

{'9c489c47': VirtualOrder(pair='XETHZUSD', type='buy', amount=0.2, close=2171.2),
 '1366c759': VirtualOrder(pair='XETHZUSD', type='buy', amount=0.1, close=2170.0)}

In [32]:
# Cancel an order
fake_trader.cancel_order('1366c759')

public call frequency exceeded (seconds=0.626062)
 sleeping for 5 seconds

In [34]:
fake_trader.order_book

{'9c489c47': VirtualOrder(pair='XETHZUSD', type='buy', amount=0.2, close=2171.2)}

In [35]:
# Last but not least
fake_trader.portfolio.get_account_balance()

         vol
ZUSD  565.76
XETH    0.20

---