In [2]:
from src import TARS, markets, portfolios, traders, strategies
import pandas as pd

# Function Tests

## Create TARS

In [2]:
root = '../'
api_key = f'{root}kraken.key'
tars = TARS()

---

## Market Functions

In [4]:
# Create instance
market = markets.CryptoMarket()

In [5]:
# Get asset informations
market.get_asset_info().head()

         aclass altname decimals display_decimals
AAVE   currency    AAVE       10                5
ADA    currency     ADA        8                6
ADA.S  currency   ADA.S        8                6
ALGO   currency    ALGO        8                5
ANKR   currency    ANKR       10                5

In [6]:
# Get OHLC Data
market.get_ohlc_data('ETHCHF')[0].head()

,time,open,high,low,close,vwap,volume,count
dtime,,,,,,,,
2021-07-26 16:35:00,1627317300,2174.64,2174.64,2174.64,2174.64,0.00,0.00000,0
2021-07-26 16:34:00,1627317240,2174.64,2174.64,2174.64,2174.64,0.00,0.00000,0
2021-07-26 16:33:00,1627317180,2174.64,2174.64,2174.64,2174.64,0.00,0.00000,0
2021-07-26 16:32:00,1627317120,2174.64,2174.64,2174.64,2174.64,0.00,0.00000,0
2021-07-26 16:31:00,1627317060,2174.64,2174.64,2174.64,2174.64,2174.64,0.00469,1

In [7]:
# Get main order book 
market.get_order_book('XETHZUSD', count=5)[0]

                          price  volume        time
dtime
2021-07-26 16:35:21  2371.65000  19.123  1627317321
2021-07-26 16:35:21  2371.72000   8.434  1627317321
2021-07-26 16:35:21  2371.79000   5.815  1627317321
2021-07-26 16:35:20  2371.80000   2.821  1627317320
2021-07-26 16:35:20  2371.82000   0.900  1627317320

In [8]:
# Get recent spread of the datam 
market.get_recent_spread_data('XETHZUSD')[0].head()

                           time      bid      ask  spread
dtime
2021-07-26 16:35:14  1627317314  2371.64  2371.65    0.01
2021-07-26 16:35:14  1627317314  2371.36  2371.65    0.29
2021-07-26 16:35:14  1627317314  2371.20  2371.65    0.45
2021-07-26 16:35:13  1627317313  2371.20  2371.21    0.01
2021-07-26 16:35:13  1627317313  2371.16  2371.21    0.05

In [9]:
# Get recent trades
market.get_recent_trades('XETHZUSD')[0].head()

public call frequency exceeded (seconds=0.900353)
 sleeping for 5 seconds

,price,volume,time,buy_sell,market_limit,misc
dtime,,,,,,
2021-07-26 16:35:17.458200064,2371.65,0.020272,1.627317e+09,buy,market,
2021-07-26 16:35:15.985199872,2371.64,0.000166,1.627317e+09,sell,market,
2021-07-26 16:35:15.983300096,2371.64,0.064834,1.627317e+09,sell,market,
2021-07-26 16:35:14.302799872,2371.21,0.000030,1.627317e+09,buy,limit,
2021-07-26 16:35:14.287800064,2371.21,0.007900,1.627317e+09,buy,limit,

In [10]:
# Get the ticker information
market.get_ticker_information('XETHZUSD')

public call frequency exceeded (seconds=0.400895)
 sleeping for 5 seconds

,a,b,c,h,l,o,p,t,v
XETHZUSD,"[2371.65000, 43, 43.000]","[2371.64000, 1, 1.000]","[2371.65000, 0.02027153]","[2390.00000, 2390.00000]","[2174.38000, 2123.85000]",2191.81000,"[2307.43142, 2288.09723]","[32041, 37902]","[56159.89899077, 65123.96684717]"

---

## Portfolio Functions

### Cryptocurrencies Portfolio

In [11]:
# Creat instance
portfolio = portfolios.CryptoPortfolio(api_key)

In [12]:
# Get the balance of the account
portfolio.get_account_balance().head()

               vol
ZUSD  1.000000e-04
CHF   0.000000e+00
XXBT  2.680000e-07
XXRP  0.000000e+00
XXDG  0.000000e+00

In [13]:
# Get our trades balances!
portfolio.get_trade_balance().head()

        CHF
eb  45.0538
tb  22.5783
m    0.0000
n    0.0000
c    0.0000

### Virtual Portfolio

In [15]:
# Create instance with initial deposit
virtual_portfolio = portfolios.VirtualPortfolio({'CHF':100})

In [16]:
# Get the balance of the account
virtual_portfolio.get_account_balance()

     vol
CHF  100

In [17]:
# Make some deposit
virtual_portfolio.deposit('CHF', 20)
virtual_portfolio.deposit('AUS', 30)
virtual_portfolio.get_account_balance()

     vol
CHF  120
AUS   30

In [18]:
# withdraw all available funds from a given currency
virtual_portfolio.withdraw('CHF', 120)
virtual_portfolio.get_account_balance()

     vol
AUS   30

In [19]:
# withdraw more funds than available
virtual_portfolio.withdraw('AUS', 3000)

ERROR:root:The amount to remove from the portfolio exceeds its content.

In [20]:
# withdraw an absent currency
virtual_portfolio.withdraw('BTC', 100)

ERROR:root:The key BTC isn't in the portfolio

---
## Trader functions

### Cryptocurrencies Trader

In [21]:
# Create the new instane
trader = traders.CryptoTrader(api_key)

In [22]:
# Get all open orders
trader.get_open_orders()

Empty DataFrame
Columns: []
Index: []

In [23]:
# Get all closed orders
trader.get_closed_orders()[0].head()

,refid,userref,status,reason,opentm,closetm,starttm,expiretm,vol,vol_exec,...,oflags,trades,descr_pair,descr_type,descr_ordertype,descr_price,descr_price2,descr_leverage,descr_order,descr_close
O667HS-EHA5E-Y4XAF6,None,0,canceled,Out of funds,1623537348,1623537348,0,0,12.030000,12.008407,...,fciq,[THXHTO-FDKTU-NGQT4A],ADAUSD,buy,market,0.0,0.0,none,buy 12.03000000 ADAUSD @ market,
OENSOG-KWUJX-VJAN64,None,0,closed,None,1622603453,1622603453,0,0,5.873000,5.873000,...,fciq,[TGISYB-P4HPS-GPKEJ3],MINAUSD,buy,market,0.0,0.0,none,buy 5.87300000 MINAUSD @ market,
OVBZ4F-UKIVH-SEFTUK,None,0,closed,None,1620994977,1621074636,0,0,71.837347,71.837347,...,fciq,[T3BSVG-VQD6Y-QSPCSK],XDGUSD,sell,stop-loss,0.5,0.0,none,sell 71.83734696 XDGUSD @ stop loss 0.5000000,
OYKRZA-BWEVV-EURJKQ,None,0,canceled,Out of funds,1620994810,1620994810,0,0,71.900000,71.837357,...,fciq,[T4C7BX-MF7Y2-BGDQ7I],XDGUSD,buy,market,0.0,0.0,none,buy 71.90000000 XDGUSD @ market,
OFJBSS-ZM7GS-O4QWXX,None,0,closed,None,1620994745,1620994745,0,0,21.040000,21.040000,...,fciq,[TVKBPV-7JMG6-RAEHGG],ADAUSD,sell,market,0.0,0.0,none,sell 21.04000000 ADAUSD @ market,

In [24]:
# Get history of all trades
trader.get_trades_history()[0].head(10)

,txid,ordertxid,postxid,pair,time,type,ordertype,price,cost,fee,vol,margin,misc
dtime,,,,,,,,,,,,,
2021-06-12 22:35:48.012799978,THXHTO-FDKTU-NGQT4A,O667HS-EHA5E-Y4XAF6,TKH2SE-M7IF5-CFI7LT,ADAUSD,1.623537e+09,buy,market,1.479045,17.760974,0.046179,12.008407,0.0,
2021-06-02 03:10:53.894099951,TGISYB-P4HPS-GPKEJ3,OENSOG-KWUJX-VJAN64,TKH2SE-M7IF5-CFI7LT,MINAUSD,1.622603e+09,buy,market,3.060000,17.971380,0.046730,5.873000,0.0,
2021-05-15 10:30:36.510400057,T3BSVG-VQD6Y-QSPCSK,OVBZ4F-UKIVH-SEFTUK,TKH2SE-M7IF5-CFI7LT,XDGUSD,1.621075e+09,sell,stop market,0.500000,35.918673,0.093389,71.837347,0.0,
2021-05-14 12:20:10.592700005,T4C7BX-MF7Y2-BGDQ7I,OYKRZA-BWEVV-EURJKQ,TKH2SE-M7IF5-CFI7LT,XDGUSD,1.620995e+09,buy,market,0.543457,39.040500,0.101505,71.837357,0.0,
2021-05-14 12:19:05.484100103,TVKBPV-7JMG6-RAEHGG,OFJBSS-ZM7GS-O4QWXX,TKH2SE-M7IF5-CFI7LT,ADAUSD,1.620995e+09,sell,market,1.862000,39.176480,0.101859,21.040000,0.0,
2021-05-13 18:22:50.241100073,T33WQ3-RYSXP-5HUJQN,OC43AK-KHZMJ-QK4KPK,TKH2SE-M7IF5-CFI7LT,ADAUSD,1.620930e+09,buy,market,1.898491,39.944251,0.103855,21.040000,0.0,
2021-05-12 16:46:04.486999989,TIMTBN-W7VXX-K2D3ME,O7XCIE-ZQ6MO-7ELM4R,TKH2SE-M7IF5-CFI7LT,XDGUSD,1.620838e+09,sell,stop market,0.450000,40.220187,0.104572,89.378194,0.0,
2021-05-12 12:04:25.677000046,TDG2QA-4FFWG-XR3IHF,O5O2LX-KRJRA-JH4P5B,TKH2SE-M7IF5-CFI7LT,XETHZUSD,1.620821e+09,buy,market,4264.040000,44.295500,0.115170,0.010388,0.0,
2021-05-12 10:36:20.847800016,TWTJ6V-F6RFS-FS43UR,OZHSZS-JWMKO-SZMQTD,TKH2SE-M7IF5-CFI7LT,XETHZUSD,1.620816e+09,sell,stop market,4250.000720,44.526450,0.115770,0.010477,0.0,
2021-05-11 20:40:31.088700056,TE35Y2-7PLF4-3IVMUQ,OGE2W5-BRXCX-UMCXSC,TKH2SE-M7IF5-CFI7LT,XETHZUSD,1.620766e+09,buy,market,4119.290000,43.157000,0.112210,0.010477,0.0,

In [25]:
# Get informations about a single trade
trader.query_trades_info('THXHTO-FDKTU-NGQT4A')

,txid,cost,fee,margin,misc,ordertxid,ordertype,pair,postxid,price,time,type,vol
dtime,,,,,,,,,,,,,
2021-06-12 22:35:48.012799978,THXHTO-FDKTU-NGQT4A,17.760974,0.046179,0.0,,O667HS-EHA5E-Y4XAF6,market,ADAUSD,TKH2SE-M7IF5-CFI7LT,1.479045,1.623537e+09,buy,12.008407

### Virtual Trader

In [50]:
# Create the instace with a portfolio
virtual_portfolio = portfolios.VirtualPortfolio({'ZUSD': 1000})
fake_trader = traders.VirtualCryptoTrader(virtual_portfolio)

In [26]:
# Add an order
fake_trader.add_order('XETHZUSD', 'buy', 0.2)

public call frequency exceeded (seconds=0.314651)
 sleeping for 5 seconds
public call frequency exceeded (seconds=0.424397)
 sleeping for 5 seconds

VirtualOrder(pair='XETHZUSD', type='buy', amount=0.2, close=2171.2)

In [28]:
# Add a second order
fake_trader.add_order('XETHZUSD', 'buy', 0.1)

VirtualOrder(pair='XETHZUSD', type='buy', amount=0.1, close=2367.88)

In [29]:
# Check portfolio
fake_trader.portfolio.get_account_balance()

          vol
ZUSD  763.212
XETH    0.100

In [30]:
# Read the book of all orders
fake_trader.order_book

{'3dd3dcde': VirtualOrder(pair='XETHZUSD', type='buy', amount=0.1, close=2367.88)}

In [32]:
# Cancel an order
fake_trader.cancel_order('3dd3dcde')

In [33]:
fake_trader.order_book

{}

In [34]:
# Last but not least
fake_trader.portfolio.get_account_balance()

         vol
ZUSD  1000.0

---

## Strategy Functions

### Buy and Hold

In [51]:
# Create the instace with a portfolio
portfolio = portfolios.VirtualPortfolio({'ZUSD': 1000})
trader = traders.VirtualCryptoTrader(portfolio)
strategy = strategies.BuyAndHold(trader, 'XETHZUSD', 0.4)

In [4]:
strategy.run()

public call frequency exceeded (seconds=0.533514)
 sleeping for 5 seconds

In [5]:
strategy.run()

In [6]:
strategy.trader.order_book

{'d5aadac3': VirtualOrder(pair='XETHZUSD', type='buy', amount=0.4, close=2357.35)}

In [7]:
strategy.trader.portfolio.get_account_balance()

        vol
ZUSD  57.06
XETH   0.40

### Sequential Investment

In [52]:
# Create the instace with a portfolio
portfolio = portfolios.VirtualPortfolio({'ZUSD': 1000})
trader = traders.VirtualCryptoTrader(portfolio)
strategy = strategies.SequentialInvestment(trader, 'XETHZUSD', 0.4, 2, "00:00:20")

In [11]:
strategy.run()

public call frequency exceeded (seconds=0.412577)
 sleeping for 5 seconds
public call frequency exceeded (seconds=0.435266)
 sleeping for 5 seconds

In [83]:
strategy.trader.portfolio.get_account_balance()

         vol
ZUSD  60.202
XETH   0.400

In [12]:
strategy.trader.order_book

{'5ef3e1d4': VirtualOrder(pair='XETHZUSD', type='buy', amount=0.2, close=2360.28),
 '349fe5db': VirtualOrder(pair='XETHZUSD', type='buy', amount=0.2, close=2355.43)}

In [13]:
strategy.has_run

True

### Random Investments

In [23]:
# Create the instace with a portfolio
portfolio = portfolios.VirtualPortfolio({'ZUSD': 1000})
trader = traders.VirtualCryptoTrader(portfolio)
strategy = strategies.RandomInvestment(trader, 'XETHZUSD', 0.1)

In [24]:
for i in range(5):
    strategy.run()

ERROR:root:The base XETH isn't available in the portfolio.

public call frequency exceeded (seconds=0.339398)
 sleeping for 5 seconds

ERROR:root:The base XETH isn't available in the portfolio.

public call frequency exceeded (seconds=0.31484)
 sleeping for 5 seconds
public call frequency exceeded (seconds=0.300064)
 sleeping for 5 seconds

ERROR:root:The base XETH isn't available in the portfolio.

In [25]:
strategy.trader.order_book

{'d6f386fa': VirtualOrder(pair='XETHZUSD', type='sell', amount=0.1, close=2356.36),
 '4bc798d5': VirtualOrder(pair='XETHZUSD', type='sell', amount=0.1, close=2356.36),
 'c18b4046': VirtualOrder(pair='XETHZUSD', type='buy', amount=0.1, close=2356.36),
 '3fbda80c': VirtualOrder(pair='XETHZUSD', type='sell', amount=0.1, close=2356.36),
 '01581177': VirtualOrder(pair='XETHZUSD', type='sell', amount=0.1, close=2355.62)}

In [26]:
strategy.trader.portfolio.get_account_balance()

         vol
ZUSD  1000.0

---

## Tars Functions

In [65]:
# Create portfolio and trader
portfolio = portfolios.VirtualPortfolio({'ZUSD': 1000})
trader = traders.VirtualCryptoTrader(portfolio)

In [66]:
tars = TARS()

# Define strategies
strategy_1 = strategies.BuyAndHold(trader, 'XETHZUSD', 0.2)
strategy_2 = strategies.SequentialInvestment(trader, 'XETHZUSD', 0.2, 6, "00:00:10")

# Load strategies
tars.load(strategy_1)
tars.load(strategy_2)

In [67]:
# Start the bot with a loop frequency of one second
tars.start('00:00:01')

public call frequency exceeded (seconds=0.578146)
 sleeping for 5 seconds
public call frequency exceeded (seconds=0.748891)
 sleeping for 5 seconds
public call frequency exceeded (seconds=0.975958)
 sleeping for 5 seconds

In [69]:
tars.is_running

True

In [70]:
# Stop the bot execution
tars.stop()

In [72]:
portfolio.get_account_balance()

             vol
ZUSD  109.440667
XETH    0.400000