In [1]:
from src import TARS, Trader, Market, Portfolio

# Tests

## Create TARS

In [2]:
root = '../'
api_key = f'{root}kraken.key'
tars = TARS()

### Check market functions

In [3]:
market = Market()

In [4]:
market.get_asset_info().head()

         aclass altname decimals display_decimals
AAVE   currency    AAVE       10                5
ADA    currency     ADA        8                6
ADA.S  currency   ADA.S        8                6
ALGO   currency    ALGO        8                5
ANKR   currency    ANKR       10                5

In [5]:
market.get_ohlc_data('ETHCHF')[0].head()

,time,open,high,low,close,vwap,volume,count
dtime,,,,,,,,
2021-07-20 07:45:00,1626767100,1625.66,1625.66,1625.66,1625.66,0.0,0.0,0
2021-07-20 07:44:00,1626767040,1625.66,1625.66,1625.66,1625.66,0.0,0.0,0
2021-07-20 07:43:00,1626766980,1625.66,1625.66,1625.66,1625.66,0.0,0.0,0
2021-07-20 07:42:00,1626766920,1625.66,1625.66,1625.66,1625.66,0.0,0.0,0
2021-07-20 07:41:00,1626766860,1625.66,1625.66,1625.66,1625.66,0.0,0.0,0

In [6]:
market.get_order_book('XETHZUSD', count=5)[0]

public call frequency exceeded (seconds=0.386442)
 sleeping for 5 seconds

                          price volume        time
dtime
2021-07-20 07:45:08  1764.37000  2.262  1626767108
2021-07-20 07:45:07  1764.05000  0.812  1626767107
2021-07-20 07:45:07  1764.06000  0.140  1626767107
2021-07-20 07:44:27  1764.18000  0.120  1626767067
2021-07-20 07:44:16  1764.08000  0.020  1626767056

In [9]:
market.get_recent_spread_data('XETHZUSD')[0].head()

public call frequency exceeded (seconds=0.224264)
 sleeping for 5 seconds

                           time      bid      ask  spread
dtime
2021-07-20 07:32:37  1626766357  1760.78  1761.07    0.29
2021-07-20 07:32:37  1626766357  1760.78  1761.08    0.30
2021-07-20 07:32:36  1626766356  1760.78  1761.09    0.31
2021-07-20 07:32:36  1626766356  1760.78  1761.10    0.32
2021-07-20 07:32:36  1626766356  1760.78  1761.11    0.33

In [10]:
market.get_recent_trades('XETHZUSD')[0].head()

public call frequency exceeded (seconds=0.276825)
 sleeping for 5 seconds

,price,volume,time,buy_sell,market_limit,misc
dtime,,,,,,
2021-07-20 07:32:38.168199936,1761.04,0.005000,1.626766e+09,sell,limit,
2021-07-20 07:32:35.675200000,1761.31,0.217515,1.626766e+09,sell,limit,
2021-07-20 07:32:25.645400064,1761.31,0.668639,1.626766e+09,sell,limit,
2021-07-20 07:32:15.614099968,1761.32,0.663576,1.626766e+09,sell,limit,
2021-07-20 07:32:15.612400128,1761.32,0.005000,1.626766e+09,sell,limit,

In [11]:
market.get_ticker_information('XETHZUSD')

public call frequency exceeded (seconds=0.283937)
 sleeping for 5 seconds

,a,b,c,h,l,o,p,t,v
XETHZUSD,"[1761.33000, 1, 1.000]","[1761.32000, 34, 34.000]","[1761.04000, 0.00500000]","[1838.65000, 1902.15000]","[1721.10000, 1721.10000]",1817.31000,"[1763.45956, 1804.46026]","[12776, 29837]","[30062.08104225, 74891.95381026]"

In [12]:
market.get_tradable_asset_pairs(info='fees', pair='ETHUSD')

public call frequency exceeded (seconds=0.21988)
 sleeping for 5 seconds

,fee_volume_currency,fees,fees_maker
XETHZUSD,ZUSD,"[[0, 0.26], [50000, 0.24], [100000, 0.22], [25...","[[0, 0.16], [50000, 0.14], [100000, 0.12], [25..."

### Check portfolio functions

In [5]:
portfolio = Portfolio(api_key)

In [6]:
portfolio.get_account_balance()

                vol
ZUSD   1.000000e-04
CHF    0.000000e+00
XXBT   2.680000e-07
XXRP   0.000000e+00
XXDG   0.000000e+00
XETH   1.038816e-02
XXMR   0.000000e+00
ADA    1.200841e+01
QTUM   0.000000e+00
FLOW   2.000000e-08
GRT    0.000000e+00
OCEAN  0.000000e+00
MINA   5.873000e+00

In [7]:
portfolio.get_trade_balance()

        CHF
eb  33.6664
tb  16.8883
m    0.0000
n    0.0000
c    0.0000
v    0.0000
e   16.8883
mf  16.8883

### Check trader functions

In [3]:
jim = Trader(api_key)

WARNING:root:Live mode : on

In [4]:
jim.get_open_orders()

Empty DataFrame
Columns: []
Index: []

In [6]:
jim.get_closed_orders()[0].head()

,refid,userref,status,reason,opentm,closetm,starttm,expiretm,vol,vol_exec,...,oflags,trades,descr_pair,descr_type,descr_ordertype,descr_price,descr_price2,descr_leverage,descr_order,descr_close
O667HS-EHA5E-Y4XAF6,None,0,canceled,Out of funds,1623537348,1623537348,0,0,12.030000,12.008407,...,fciq,[THXHTO-FDKTU-NGQT4A],ADAUSD,buy,market,0.0,0.0,none,buy 12.03000000 ADAUSD @ market,
OENSOG-KWUJX-VJAN64,None,0,closed,None,1622603453,1622603453,0,0,5.873000,5.873000,...,fciq,[TGISYB-P4HPS-GPKEJ3],MINAUSD,buy,market,0.0,0.0,none,buy 5.87300000 MINAUSD @ market,
OVBZ4F-UKIVH-SEFTUK,None,0,closed,None,1620994977,1621074636,0,0,71.837347,71.837347,...,fciq,[T3BSVG-VQD6Y-QSPCSK],XDGUSD,sell,stop-loss,0.5,0.0,none,sell 71.83734696 XDGUSD @ stop loss 0.5000000,
OYKRZA-BWEVV-EURJKQ,None,0,canceled,Out of funds,1620994810,1620994810,0,0,71.900000,71.837357,...,fciq,[T4C7BX-MF7Y2-BGDQ7I],XDGUSD,buy,market,0.0,0.0,none,buy 71.90000000 XDGUSD @ market,
OFJBSS-ZM7GS-O4QWXX,None,0,closed,None,1620994745,1620994745,0,0,21.040000,21.040000,...,fciq,[TVKBPV-7JMG6-RAEHGG],ADAUSD,sell,market,0.0,0.0,none,sell 21.04000000 ADAUSD @ market,

In [8]:
jim.get_trades_history()[0].head()

,txid,ordertxid,postxid,pair,time,type,ordertype,price,cost,fee,vol,margin,misc
dtime,,,,,,,,,,,,,
2021-06-12 22:35:48.012799978,THXHTO-FDKTU-NGQT4A,O667HS-EHA5E-Y4XAF6,TKH2SE-M7IF5-CFI7LT,ADAUSD,1.623537e+09,buy,market,1.479045,17.760974,0.046179,12.008407,0.0,
2021-06-02 03:10:53.894099951,TGISYB-P4HPS-GPKEJ3,OENSOG-KWUJX-VJAN64,TKH2SE-M7IF5-CFI7LT,MINAUSD,1.622603e+09,buy,market,3.060000,17.971380,0.046730,5.873000,0.0,
2021-05-15 10:30:36.510400057,T3BSVG-VQD6Y-QSPCSK,OVBZ4F-UKIVH-SEFTUK,TKH2SE-M7IF5-CFI7LT,XDGUSD,1.621075e+09,sell,stop market,0.500000,35.918673,0.093389,71.837347,0.0,
2021-05-14 12:20:10.592700005,T4C7BX-MF7Y2-BGDQ7I,OYKRZA-BWEVV-EURJKQ,TKH2SE-M7IF5-CFI7LT,XDGUSD,1.620995e+09,buy,market,0.543457,39.040500,0.101505,71.837357,0.0,
2021-05-14 12:19:05.484100103,TVKBPV-7JMG6-RAEHGG,OFJBSS-ZM7GS-O4QWXX,TKH2SE-M7IF5-CFI7LT,ADAUSD,1.620995e+09,sell,market,1.862000,39.176480,0.101859,21.040000,0.0,

In [10]:
jim.query_trades_info('THXHTO-FDKTU-NGQT4A')

,txid,cost,fee,margin,misc,ordertxid,ordertype,pair,postxid,price,time,type,vol
dtime,,,,,,,,,,,,,
2021-06-12 22:35:48.012799978,THXHTO-FDKTU-NGQT4A,17.760974,0.046179,0.0,,O667HS-EHA5E-Y4XAF6,market,ADAUSD,TKH2SE-M7IF5-CFI7LT,1.479045,1.623537e+09,buy,12.008407