In [1]:
from tars import Tars, markets, portfolios, traders, strategies, metrics
import pandas as pd

# Manual Test Suite

## Create TARS

In [37]:
root = '../'
api_key = f'{root}kraken.key'
tars = TARS()

---

## Market Functions

In [38]:
# Create instance
market = markets.CryptoMarket()

In [39]:
# Get asset informations
market.get_asset_info().head()

         aclass altname decimals display_decimals
AAVE   currency    AAVE       10                5
ADA    currency     ADA        8                6
ADA.S  currency   ADA.S        8                6
ALGO   currency    ALGO        8                5
ANKR   currency    ANKR       10                5

In [40]:
# Get OHLC Data
market.get_ohlc_data('ETHCHF')[0].head()

public call frequency exceeded (seconds=0.582922)
 sleeping for 5 seconds

,time,open,high,low,close,vwap,volume,count
dtime,,,,,,,,
2021-07-27 13:08:00,1627391280,2116.26,2116.26,2116.26,2116.26,0.0,0.0,0
2021-07-27 13:07:00,1627391220,2116.26,2116.26,2116.26,2116.26,0.0,0.0,0
2021-07-27 13:06:00,1627391160,2116.26,2116.26,2116.26,2116.26,0.0,0.0,0
2021-07-27 13:05:00,1627391100,2116.26,2116.26,2116.26,2116.26,0.0,0.0,0
2021-07-27 13:04:00,1627391040,2116.26,2116.26,2116.26,2116.26,0.0,0.0,0

In [6]:
# Get main order book 
market.get_order_book('XETHZUSD', count=5)[0]

                          price volume        time
dtime
2021-07-27 08:36:50  2213.60000  7.777  1627375010
2021-07-27 08:36:50  2214.13000  1.117  1627375010
2021-07-27 08:36:49  2213.62000  4.517  1627375009
2021-07-27 08:36:49  2213.93000  0.898  1627375009
2021-07-27 08:36:47  2213.82000  0.350  1627375007

In [7]:
# Get recent spread of the datam 
market.get_recent_spread_data('XETHZUSD')[0].head()

                           time      bid     ask  spread
dtime
2021-07-27 08:36:52  1627375012  2213.37  2213.6    0.23
2021-07-27 08:36:51  1627375011  2213.26  2213.6    0.34
2021-07-27 08:36:51  1627375011  2213.23  2213.6    0.37
2021-07-27 08:36:50  1627375010  2213.24  2213.6    0.36
2021-07-27 08:36:50  1627375010  2213.23  2213.6    0.37

In [9]:
# Get recent trades
market.get_recent_trades('XETHZUSD')[0].head()

public call frequency exceeded (seconds=0.900353)
 sleeping for 5 seconds

,price,volume,time,buy_sell,market_limit,misc
dtime,,,,,,
2021-07-26 16:35:17.458200064,2371.65,0.020272,1.627317e+09,buy,market,
2021-07-26 16:35:15.985199872,2371.64,0.000166,1.627317e+09,sell,market,
2021-07-26 16:35:15.983300096,2371.64,0.064834,1.627317e+09,sell,market,
2021-07-26 16:35:14.302799872,2371.21,0.000030,1.627317e+09,buy,limit,
2021-07-26 16:35:14.287800064,2371.21,0.007900,1.627317e+09,buy,limit,

In [35]:
# Get the ticker information
market.get_ticker_information('XETHZUSD')

,a,b,c,h,l,o,p,t,v
XETHZUSD,"[2201.42000, 1, 1.000]","[2201.41000, 83, 83.000]","[2201.40000, 0.11674512]","[2241.30000, 2429.81000]","[2152.00000, 2152.00000]",2228.46000,"[2182.50851, 2284.14063]","[9796, 39636]","[17643.47750575, 70433.47950848]"

---

## Portfolio Functions

### Cryptocurrencies Portfolio

In [3]:
# Creat instance
portfolio = portfolios.CryptoPortfolio(api_key)

In [4]:
# Get the balance of the account
portfolio.get_account_balance().head()

               vol
ZUSD  1.000000e-04
CHF   0.000000e+00
XXBT  2.680000e-07
XXRP  0.000000e+00
XXDG  0.000000e+00

In [5]:
# Get our trades balances
portfolio.get_trade_balance(asset='CHF')

        CHF
eb  42.5332
tb  21.2945
m    0.0000
n    0.0000
c    0.0000
v    0.0000
e   21.2945
mf  21.2945

### Virtual Portfolio

In [3]:
# Create instance with initial deposit
virtual_portfolio = portfolios.VirtualPortfolio({'ZUSD':100})

In [4]:
# Get the balance of the account
virtual_portfolio.get_account_balance()

      vol
ZUSD  100

In [5]:
# Make some deposit
virtual_portfolio.deposit('ZUSD', 100)
virtual_portfolio.deposit('XETH', 30)
virtual_portfolio.deposit('XXBT', 10)
virtual_portfolio.get_account_balance()

      vol
ZUSD  200
XETH   30
XXBT   10

In [7]:
virtual_portfolio.get_trade_balance()

        ZUSD
eb  446805.4

In [7]:
# withdraw more funds than available
virtual_portfolio.withdraw('ETH', 3000)

ERROR:root:The key ETH isn't in the portfolio

In [8]:
# withdraw an absent currency
virtual_portfolio.withdraw('AUS', 100)

ERROR:root:The key AUS isn't in the portfolio

---
## Trader functions

### Cryptocurrencies Trader

In [41]:
# Create the new instane
trader = traders.CryptoTrader(api_key)

In [42]:
# Get all open orders
trader.get_open_orders()

Empty DataFrame
Columns: []
Index: []

In [46]:
# Get all closed orders
trader.get_closed_orders()[0]

SyntaxError: unexpected EOF while parsing (<ipython-input-46-0ba6db1ee4b0>, line 2)

In [48]:
trader.get_trades_history()[0].head()

,txid,ordertxid,postxid,pair,time,type,ordertype,price,cost,fee,vol,margin,misc
dtime,,,,,,,,,,,,,
2021-06-12 22:35:48.012799978,THXHTO-FDKTU-NGQT4A,O667HS-EHA5E-Y4XAF6,TKH2SE-M7IF5-CFI7LT,ADAUSD,1.623537e+09,buy,market,1.479045,17.760974,0.046179,12.008407,0.0,
2021-06-02 03:10:53.894099951,TGISYB-P4HPS-GPKEJ3,OENSOG-KWUJX-VJAN64,TKH2SE-M7IF5-CFI7LT,MINAUSD,1.622603e+09,buy,market,3.060000,17.971380,0.046730,5.873000,0.0,
2021-05-15 10:30:36.510400057,T3BSVG-VQD6Y-QSPCSK,OVBZ4F-UKIVH-SEFTUK,TKH2SE-M7IF5-CFI7LT,XDGUSD,1.621075e+09,sell,stop market,0.500000,35.918673,0.093389,71.837347,0.0,
2021-05-14 12:20:10.592700005,T4C7BX-MF7Y2-BGDQ7I,OYKRZA-BWEVV-EURJKQ,TKH2SE-M7IF5-CFI7LT,XDGUSD,1.620995e+09,buy,market,0.543457,39.040500,0.101505,71.837357,0.0,
2021-05-14 12:19:05.484100103,TVKBPV-7JMG6-RAEHGG,OFJBSS-ZM7GS-O4QWXX,TKH2SE-M7IF5-CFI7LT,ADAUSD,1.620995e+09,sell,market,1.862000,39.176480,0.101859,21.040000,0.0,

In [44]:
# Get informations about a single trade
trader.query_trades_info('THXHTO-FDKTU-NGQT4A')

,txid,cost,fee,margin,misc,ordertxid,ordertype,pair,postxid,price,time,type,vol
dtime,,,,,,,,,,,,,
2021-06-12 22:35:48.012799978,THXHTO-FDKTU-NGQT4A,17.760974,0.046179,0.0,,O667HS-EHA5E-Y4XAF6,market,ADAUSD,TKH2SE-M7IF5-CFI7LT,1.479045,1.623537e+09,buy,12.008407

### Virtual Trader

In [45]:
# Create the instace with a portfolio
virtual_portfolio = portfolios.VirtualPortfolio({'ZUSD': 1000})
fake_trader = traders.VirtualCryptoTrader(virtual_portfolio)

In [10]:
# Add orders
fake_trader.add_order('XETHZUSD', 'buy', 0.2)
fake_trader.add_order('XETHZUSD', 'sell', 0.2)
fake_trader.add_order('XETHZUSD', 'buy', 0.4)

VirtualOrder(pair='XETHZUSD', type='buy', price=2272.22, cost=908.8879999999999, fee=2.3631087999999996, volume=0.4)

In [11]:
fake_trader.order_book

{'6813e27c': VirtualOrder(pair='XETHZUSD', type='buy', price=2273.44, cost=454.68800000000005, fee=1.1821888, volume=0.2),
 '7d92c62f': VirtualOrder(pair='XETHZUSD', type='sell', price=2273.44, cost=454.68800000000005, fee=1.1821888, volume=0.2),
 '1392dc0d': VirtualOrder(pair='XETHZUSD', type='buy', price=2272.22, cost=908.8879999999999, fee=2.3631087999999996, volume=0.4)}

In [12]:
# Check portfolio
fake_trader.portfolio.get_account_balance()

        vol
ZUSD  86.38
XETH   0.40

In [13]:
# Cancel an order
oid = list(fake_trader.order_book.keys())[0]
fake_trader.cancel_order(oid)

In [14]:
fake_trader.order_book

{'7d92c62f': VirtualOrder(pair='XETHZUSD', type='sell', price=2273.44, cost=454.68800000000005, fee=1.1821888, volume=0.2),
 '1392dc0d': VirtualOrder(pair='XETHZUSD', type='buy', price=2272.22, cost=908.8879999999999, fee=2.3631087999999996, volume=0.4)}

In [15]:
fake_trader.portfolio.get_account_balance()

         vol
ZUSD  541.07
XETH    0.20

In [4]:
fake_trader.get_total_fees()

NameError: name 'fake_trader' is not defined

## Strategy Functions

### Buy and Hold

In [51]:
# Create the instace with a portfolio
portfolio = portfolios.VirtualPortfolio({'ZUSD': 1000})
trader = traders.VirtualCryptoTrader(portfolio)
strategy = strategies.BuyAndHold(trader, 'XETHZUSD', 0.4)

In [4]:
strategy.run()

public call frequency exceeded (seconds=0.533514)
 sleeping for 5 seconds

In [5]:
strategy.run()

In [6]:
strategy.trader.order_book

{'d5aadac3': VirtualOrder(pair='XETHZUSD', type='buy', amount=0.4, close=2357.35)}

In [7]:
strategy.trader.portfolio.get_account_balance()

        vol
ZUSD  57.06
XETH   0.40

### Sequential Investment

In [3]:
# Create the instace with a portfolio
portfolio = portfolios.VirtualPortfolio({'ZUSD': 1000})
trader = traders.VirtualCryptoTrader(portfolio)
strategy = strategies.SequentialInvestment(trader, 'XETHZUSD', 0.4, 2, "00:00:20")

In [4]:
strategy.run()

In [5]:
strategy.trader.portfolio.get_account_balance()

        vol
ZUSD  89.28
XETH   0.40

In [6]:
strategy.trader.order_book

{'d472de3a': VirtualOrder(pair='XETHZUSD', type='buy', price=2270.89, cost=454.178, fee=1.1808627999999999, volume=0.2),
 'cbe03e9b': VirtualOrder(pair='XETHZUSD', type='buy', price=2270.89, cost=454.178, fee=1.1808627999999999, volume=0.2)}

In [7]:
strategy.has_run

True

### Random Investments

In [23]:
# Create the instace with a portfolio
portfolio = portfolios.VirtualPortfolio({'ZUSD': 1000})
trader = traders.VirtualCryptoTrader(portfolio)
strategy = strategies.RandomInvestment(trader, 'XETHZUSD', 0.1)

In [24]:
for i in range(5):
    strategy.run()

ERROR:root:The base XETH isn't available in the portfolio.

public call frequency exceeded (seconds=0.339398)
 sleeping for 5 seconds

ERROR:root:The base XETH isn't available in the portfolio.

public call frequency exceeded (seconds=0.31484)
 sleeping for 5 seconds
public call frequency exceeded (seconds=0.300064)
 sleeping for 5 seconds

ERROR:root:The base XETH isn't available in the portfolio.

In [25]:
strategy.trader.order_book

{'d6f386fa': VirtualOrder(pair='XETHZUSD', type='sell', amount=0.1, close=2356.36),
 '4bc798d5': VirtualOrder(pair='XETHZUSD', type='sell', amount=0.1, close=2356.36),
 'c18b4046': VirtualOrder(pair='XETHZUSD', type='buy', amount=0.1, close=2356.36),
 '3fbda80c': VirtualOrder(pair='XETHZUSD', type='sell', amount=0.1, close=2356.36),
 '01581177': VirtualOrder(pair='XETHZUSD', type='sell', amount=0.1, close=2355.62)}

In [26]:
strategy.trader.portfolio.get_account_balance()

         vol
ZUSD  1000.0

---

## Tars Functions

In [2]:
# Create portfolio and trader
portfolio = portfolios.VirtualPortfolio({'ZUSD': 1000})
trader = traders.VirtualCryptoTrader(portfolio)

In [3]:
tars = TARS()

# Define strategies
strategy_1 = strategies.BuyAndHold(trader, 'XETHZUSD', 0.2)
strategy_2 = strategies.SequentialInvestment(trader, 'XETHZUSD', 0.2, 6, "00:00:10")

# Load strategies
tars.load(strategy_1)
tars.load(strategy_2)

In [4]:
# Start the bot with a loop frequency of one second
tars.start('00:00:01')

In [5]:
tars.is_running

True

In [6]:
# Stop the bot execution
tars.stop()

In [7]:
portfolio.get_account_balance()

       vol
ZUSD  1000

## Metrics

In [30]:
my_metrics = metrics.TradersMetric(trader)

In [31]:
trader.portfolio.get_trade_balance()

       ZUSD
eb  996.992

In [32]:
trader.initial_portfolio_value

1000

In [33]:
trader.get_total_fees()

2.4054082

In [34]:
my_metrics.summary()

Total net profit : 3.01
Trade net profit : 0.43